  body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 16px;
  }

  .container-flex {
    display: flex;
    justify-content: space-evenly;
  }

  .container-text {
    width: 450px;
    text-align: center;
    padding: 24px;
  }

  .container-form {
    display: flex;
    align-items: center;
    height: auto;
    padding: 40px 0px;
  }

  .text-button {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  h4 {
    font-weight: 600;
  }

  label {
    text-align: left;
    margin-bottom: 5px;
  }

  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  button {
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .text-label {
    background-color: #007BFF;
    font-weight: 600;
    color: #fff;
    width: 100px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
  }

  .link {
    text-decoration: underline;
    color: #007BFF;
    cursor: pointer;
  }

  .circular--landscape {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
  }

  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
  }